<footer aria-labelledby="footer-heading" class="bg-gray-900">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="py-20 xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="grid grid-cols-2 gap-8 xl:col-span-2">
        <div class="space-y-12 md:space-y-0 md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-medium text-white">
              Shop
            </h3>
            <ng-template [ngIf]="footerNavigation && footerNavigation.shop">
              <ul role="list" class="mt-6 space-y-6">
                <ng-container *ngFor="let shop of footerNavigation.shop">
                  <li class="text-sm">
                    <a routerLink="/storeFront" class="text-gray-300 hover:text-white">
                      {{ shop.name }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </ng-template>
          </div>
          <div>
            <h3 class="text-sm font-medium text-white">Company</h3>
            <ng-template [ngIf]="footerNavigation && footerNavigation.shop">
              <ul role="list" class="mt-6 space-y-6">
                <ng-container *ngFor="let company of footerNavigation.company">
                  <li class="text-sm">
                    <a routerLink="/storeFront" class="text-gray-300 hover:text-white">
                      {{ company.name }}
                    </a>
                  </li>
                </ng-container>
              </ul>
            </ng-template>
          </div>
        </div>
        <div class="space-y-12 md:space-y-0 md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-medium text-white">Account</h3>
            <ul role="list" class="mt-6 space-y-6">
              <ng-template [ngIf]="footerNavigation && footerNavigation.shop">
                <ng-container *ngFor="let account of footerNavigation.account">
                  <li class="text-sm">
                    <a routerLink="/storeFront" class="text-gray-300 hover:text-white">
                      {{ account.name }}
                    </a>
                  </li>
                </ng-container>
              </ng-template>
            </ul>
          </div>
          <div class="space-y-12 md:space-y-0 md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-medium text-white">Connect</h3>
              <ul role="list" class="mt-6 space-y-6">
                <ng-template [ngIf]="footerNavigation && footerNavigation.shop">
                  <ng-container *ngFor="let connect of footerNavigation.connect">
                    <li class="text-sm">
                      <a routerLink="/storeFront" class="text-gray-300 hover:text-white">
                        {{ connect.name }}
                      </a>
                    </li>
                  </ng-container>
                </ng-template>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 md:mt-16 xl:mt-0">
        <h3 class="text-sm font-medium text-white">
          Sign up for our newsletter
        </h3>
        <p class="mt-6 text-sm text-gray-300">
          The latest deals and savings, sent to your inbox weekly.
        </p>
        <form class="mt-2 flex sm:max-w-md">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            type="text"
            autocomplete="email"
            required=""
            class="appearance-none min-w-0 w-full bg-white border border-white rounded-md shadow-sm py-2 px-4 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:border-white focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white"
          />
          <div class="ml-4 flex-shrink-0">
            <button
              type="submit"
              class="w-full bg-indigo-600 border border-transparent rounded-md shadow-sm py-2 px-4 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-indigo-500"
            >
              Sign up
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="border-t border-gray-800 py-10">
      <p class="text-sm text-gray-400">
        Copyright &copy; 2021 Clothing Company Inc.
      </p>
    </div>
  </div>
</footer>
